[Desktop Entry]
Name=Arabic Lexicons
Exec=/home/user/.local/ara_dict/ara_dict
Icon=/home/user/.local/ara_dict/icon.png
Type=Application
Categories=Dictionary;
Terminal=false
